<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/teste.css">
</head>
<body>
    <div class="cadastro-box">
    <h2>Cadastre-se</h2>
    <form action="#" method="POST">
        <input type="text" name="usuario" placeholder="Usuário" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="senha" placeholder="Senha" required>
        <input type="password" name="confirmar_senha" placeholder="Confirme a senha" required>
        <button type="submit" class="confirmar-btn">Confirmar</button>
    </form>

    <div class="social-login">
        <p>Ou entre com</p>
        <div class="social-icons">
            <a href="#"><img src="facebook-icon.png" alt="Facebook"></a>
            <a href="#"><img src="google-icon.png" alt="Google"></a>
        </div>
    </div>
</div>
</body>
</html>